<div class ="container col-4">
  <h2>Genre</h2>
  <h6>Select your Genre</h6>
</div>

<div>
    <nav id="group">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-action-tab" data-toggle="tab" href="#nav-action" role="tab" aria-controls="nav-home" aria-selected="false">Action</a>
          <a class="nav-item nav-link" id="nav-actionad-tab" data-toggle="tab" href="#nav-actionad" role="tab" aria-controls="nav-profile" aria-selected="false">Action-Adventure</a>
          <a class="nav-item nav-link" id="nav-rpg-tab" data-toggle="tab" href="#nav-rpg" role="tab" aria-controls="nav-contact" aria-selected="false">Role-Playing</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-action" role="tabpanel" aria-labelledby="nav-action-tab">List of Action games</div>
        <div class="tab-pane fade" id="nav-actionad" role="tabpanel" aria-labelledby="nav-actionad-tab">List of Action Action-Adventure</div>
        <div class="tab-pane fade" id="nav-rpg" role="tabpanel" aria-labelledby="nav-rpg-tab">List of Roleplaying Games</div>
      </div>
    </div>