<nav class="nav">
  <li><a class="nav-link" href="/home">Home</a></li>
  <li><a class="nav-link" routerLink="/platform">Platform</a></li>
  <li><a class="nav-link" href="/genre">Genre</a></li>
  <li><a class="nav-link" href="/profile">Profile</a></li>
  <span class="navbar-text">
      Navbar text with an inline element
    </span>
</nav>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <img width="300" alt="Angular Logo" src="https://png2.kisspng.com/sh/5084fdcb453e8649de74b55d88e4c1b5/L0KzQYm3U8IxN6tAj5H0aYP2gLBuTgN6dZN0hJ9wcnXofn7tjB51NaFxees2Z3HwdcS0VfFjOGlmUacAOEa6RYW1U8IyQGg8SaY6NUK0RYKCUsU0O2c3SZD5bne=/kisspng-symbol-green-font-play-games-5ab08a95586754.3218771415215192533621.png">
</div>
<br>
<div>
<router-outlet></router-outlet>
</div>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


