<nav class="nav">
  <li><a class="nav-link" href="/home">Home</a></li>
  <li><a class="nav-link" href="/platform">Platform</a></li>
  <li><a class="nav-link" href="/genre">Genre</a></li>
  <li><a class="nav-link" href="/profile">Profile</a></li>
  <li><a class ="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
  <li><a class="nav-link" href="/search">Search </a></li>
</nav>

<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
  <img width="300" alt="Angular Logo" src="../assets/gamesymbol.png" style="width:150px;">
</div>
<br>
<div>
<router-outlet></router-outlet>
</div>

