<div class="container col-lg-4">
  <div id="signUp">
    <h1 class="Welcome"> Welcome! </h1>
    <h5 class="Welcom"> Please fill out the form to create an account </h5>

    <form action="../login" method="get" class="log-in-form justify-content-center">
      <input name="firstName" type="text" placeholder="First Name">
      <br>
      <input name="lastName" type="text" placeholder="Last Name">
      <br>
      <input name ="email" type="text" placeholder="Email" required>
      <br>
      <input name="username" type="text" placeholder="Username" required>
      <br>
      <input name="password" type="text" placeholder="Password" required>
      <br>
      <input name="genre" type="text" placeholder = "Favorite genre?">
      <br>
      <input name="favorite" type="text" placeholder = "Favorite video game?">
      <div>
        <br>
        <button id="submitBtn" type="submit" value="Login" class="btn btn-success"> Submit</button>
        <p> Already have an account? <a data-toggle="modal" href="#login">Click here</a></p>
      </div>
    </form>
  </div>
</div>

<!-- Login -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div id="Login" class="modal-body mx-3">
          <h1 class="modal-header text-center Welcome"> Welcome! </h1>
          <h5 class="text-center Welcome"> Please sign in to enter your account </h5>
  
          <form>
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="email" class="form-control validate" placeholder="email">
            <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
            <br>
            <i class="fa fa-lock prefix grey-text"></i>
            <input id="password" type="password" class="form-control validate" placeholder="password">
            <label data-error="wrong" data-success="right" for="password">Your password</label>
            <br>
            <div>
              <br>
              <button id="submitBtn" type="submit" value="Submit" class="btn btn-success justify-content-center"> Submit</button>
              <p> Don't have an account? Click <a href="/signup"> here</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>