<div class="container col-lg-4">
  <div id="signUp">
    <h1 class="Welcome"> Welcome! </h1>
    <h5 class="Welcom"> Please fill out the form to create an account </h5>

    <form action="../login" method="get" class="log-in-form">
      <input name="firstName" type="text" placeholder="First Name">
      <br>
      <input name="lastName" type="text" placeholder="Last Name">
      <br>
      <input name ="email" type="text" placeholder="Email" required>
      <br>
      <input name="username" type="text" placeholder="Username" required>
      <br>
      <input name="password" type="text" placeholder="Password" required>
      <br>
      <input name="genre" type="text" placeholder = "Favorite genre?">
      <br>
      <input name="favorite" type="text" placeholder = "Favorite video game?">
      <div>
        <br>
        <button id="submitBtn" type="submit" value="Login" class="btn btn-success"> Submit</button>
        <p> Already have an account? Click <a href="/login"> here</a></p>
      </div>
    </form>
  </div>
</div>
