<body style="background-color: #1c1c1c;">
  
    <h1>Title</h1>
    
    <img src="https://image.shutterstock.com/image-vector/letter-g-game-logo-design-260nw-537688015.jpg" class="rounded mx-auto d-block" alt="...">
    <link rel="stylesheet" href="genre-page.component.css">

    <br/>
    <h1> Genre Search </h1>
    <br/>
    
        <div class="col-lg-6" style="align-content:center;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-secondary" type="button">Go!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </body>